# Dependencies
node_modules/
venv/
.venv/

# Build outputs
dist/
build/
*.egg-info/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment & Logs
.env
*.log

# Generated temp models
*.pkl
*.h5
